{%- extends 'base.html' %}

{%- macro format_tags(tags, with_links=True) %}
    {%- for t in tags %}
        {%- if loop.last and tags|length > 1 %} and {% else %}{%
            if not loop.first -%}, {% endif %}{% endif -%}
        {% if with_links -%}
        <a href="{{ url_for('views.tag', tag=t) }}">{{ t }}</a>
        {%- else %}{{ t }}{% endif %}
    {%- endfor %}
{%- endmacro %}

{%- macro format_title(post) %}
    {%- if 'videos' in post.tags -%}
        Video:
    {%- elif 'images' in post.tags -%}
        Image:
    {%- elif 'pictures' in post.tags -%}
        Picture:
    {%- endif %} {{ post.title }}
{%- endmacro %}

{%- macro my_title() %}
    {%- if active_page != '' %}{%
        if tag -%}
            {% if tag|length > 1 -%}
                Tags: {{ format_tags(tag, False) }}
            {%- else -%}
                Tag: {{ tag|first }}
            {%- endif %}
        {%- elif active_page == 'posts' -%}
            Posts
        {%- elif active_page == 'post' -%}
            {{ format_title(posts|first) }}
        {%- elif pagination -%}
            Page {{ pagination.current }}
        {%- else -%}
            {{ title }}
        {%- endif %}
    {%- endif %}
{%- endmacro %}

{%- set title = my_title() %}

{%- block title %}{% if title %}{{ title }} | {% endif %}{%- endblock %}

{%- block body %}

{%- if tag -%}
<blockquote>
    <p>
        You're browsing the archives of the tag{% if tag|length > 1 %}s{%
            endif %} {{ format_tags(tag) }}. (<small><a href="{{
            url_for('views.atom', tag=tag|join('/')) }}">Atom feed</a></small>)
    </p>
</blockquote>
{%- endif %}

{%- for post in posts %}
{%- if post.title %}
<h2>
    {%- if is_post(post.slug) -%}
    <a href="{{ url_for('views.content', slug=post.slug) }}">{{ format_title(post) }}</a>
    {%- else -%}
    {{ post.title }}
    {%- endif -%}
</h2>
{%- endif %}

{%- if full_content -%}
    {{ post.full_html|safe }}
{%- else -%}
    {{ post.abstract_html|safe }}
{%- endif %}

{%- if post.read_more and not full_content -%}
<p>
    <a href="{{ url_for('views.content', slug=post.slug) }}">Read more...</a>
</p>
{%- endif -%}

{%- if is_post(post.slug) -%}
<p class="signature">
    {%- if 'rants' in post.tags -%}
        Rant written by
    {%- elif 'videos' in post.tags -%}
        Video published by
    {%- elif 'images' in post.tags -%}
        Image published by
    {%- elif 'photos' in post.tags -%}
        Picture published by
    {%- else -%}
        Post written by
    {%- endif %}
    {{ post.author_name }} in {{ post.datetime|datetimeformat }}{% if
        post.tags %}, filed under the tag{% 
        if post.tags|length > 1 %}s{% endif %} {{ format_tags(post.tags)
        }}{% endif %}.
    <a href="{{ url_for('views.content', slug='about')
        }}#privacy-policy-and-comments" class="comments">Comments</a>.
    <a href="{{ url_for('views.content', slug=post.slug) }}">Permanent link</a>.
</p>
{%- endif -%}

{%- else %}
<blockquote>
    <p>
        There's nothing available here yet, but you may want to subscribe
        to my <a href="{{ url_for('views.atom') }}">Atom feed</a> to get the
        content as soon as I start publishing it! :)
    </p>
</blockquote>
{%- endfor %}

{%- if posts %}

{%- if pagination %}
<div id="pager">
    <ul>
        {%- if pagination.current > 1 %}
        <li class="previous"><a href="{{ pagination.url_gen(pagination.current-1) }}">&larr; Newer</a></li>
        {%- else %}
        <li class="previous">&larr; Newer</li>
        {%- endif %}
        {%- if pagination.current < pagination.num_pages %}
        <li class="next"><a href="{{ pagination.url_gen(pagination.current+1) }}">Older &rarr;</a></li>
        {%- else %}
        <li class="next">Older &rarr;</li>
        {%- endif %}
    </ul>
</div>
{%- endif %}

{%- endif %}

{%- endblock %}
